<div class="jumbo">
  <div class="right tomster"></div>
    {{yield}}
</div>
{{!-- 주석처리는 {{!}} 또는  {{!-- -- }}와 같이(닫는 태그에 띄어쓰기 없음) 표현한다. --}}
{{!jumbo로 component 생성. 이제 jumbo 태그를 사용해서 app 내 어디든 사용 가능}}
